<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/GothamPro/stylesheet.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.32/dist/vue.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

</head>

<body>
    <section class="todo" id='app'>
        <div class="container">
            <h1 class="todo-h1">Shoping List</h1>
            <div class="todo-wrapper">

                <form class="order-form" @submit.prevent='createTask'>
                    <div class="todo-field">
                        <ul class='todo-input'>

                            <li>
                                <input type="text" v-model='task.title' placeholder="New Item" required />
                            </li>
                        </ul>

                        <button class="btn" style="width: 150px;" type="submit">
                            <img width='20' src="{% static 'images/plus.svg' %}" alt="" class="check">
                        </button>


                    </div>
                </form>
                <transition-group name="list">
                    <div v-for='task in tasks' :key='task.id' class="todo-field">
                        <div class="todo-info-wrapper">

                            <div class="check-box">
                                <img @click='completedTask(task)' v-show='task.completed' width='20'
                                    src="{% static 'images/check.svg' %}" alt="" class="check">
                                <img @click='completedTask(task)' v-show='!task.completed' width='20'
                                    src="{% static 'images/no_check.svg' %}" alt="" class="check">
                            </div>

                            <div class="todo-info">
                                <h2 @click='completedTask(task)' class="todo-h2" :class="{'completed': task.completed}">
                                    [[ task.title ]]</h2>
                                <div class="todo-subinfo">
                                    <h3 class="todo-h3"></h3>
                                    <h4 class="todo-h4"></h4>
                                    <img src="" alt="" class="todo-view">
                                </div>
                            </div>
                        </div>
                        <img @click='deleteTask(task)' src="{% static 'images/trash.svg' %}" alt="" class="todo-remove">
                    </div>
                </transition-group>
            </div>
        </div>
    </section>

    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>